<ion-header >
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <figure style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <ion-title class="text-center ion-text-lowercase">Login</ion-title>
    <ion-avatar class="text-center">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </figure>


  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input label="User" labelPlacement="floating" placeholder="example@gmail.com" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">{{error.message}}</ion-label>
      </ng-container>
    </div>

    <ion-item>
      <ion-input label="Password" labelPlacement="floating" placeholder="************" formControlName="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">{{error.message}}</ion-label>
      </ng-container>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
  <p>{{errorMessage}}</p>

  <ion-button expand="block" fill="clear" routerLink="/register">Register</ion-button>
</ion-content>
