<ion-content >
  <swiper-container
    slides-per-view="1"
    pagination="true"
  >
    <swiper-slide class="bg-color-slide background-image-1 swiper-slide-content">
      <h1 class="title1">Descubre Recetas</h1>
      <ion-icon name="cafe-outline"></ion-icon>
      <p>Déjate llevar por una explosión de colores y frescura.</p>
    </swiper-slide>
    <swiper-slide class="bg-color-slide background-image-2 swiper-slide-content">
      <h1>Publica tus mejores platos</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p>Comparte tus creaciones culinarias y sorprende a todos. </p>
    </swiper-slide>
    <swiper-slide class="bg-color-slide background-image-1 swiper-slide-content">
      <h1>Comienza Ahora</h1>
      <ion-icon class="close-icon" name="close" (click)="finish()"></ion-icon>
      <ion-button expand="full" (click)="finish()" type="button" >Get Started</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
