<ion-header>
  <ion-toolbar>
    <ion-title>Create New Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
    

    
    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;" (click)="uploadPhone()">
      <img [src]="post_image ? post_image : 'assets/icon/favicon.png'" />
      <p *ngIf="!post_image">Haz click para subir una imagen</p>
    </div>

    <ion-item>
      <ion-textarea label="Post description" labelPlacement="floating" placeholder="Cuenta lo que estas pensando" formControlName="description"></ion-textarea>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.description">
      <ion-label color="danger" 
       *ngIf="(addPostForm.get('description')?.hasError(error.type) && addPostForm.get('description')?.dirty)">{{error.message}}</ion-label>
    </ng-container>



    <ion-footer>
      <ion-button 
      type="submit"
      [disabled]="!addPostForm.valid"
      expand="full"
      >
        Post
      </ion-button>

      <ion-button color="danger" class="dismiss-button" 
      
        type="button"
      (click)="dismiss()" expand="full" >
        Cancel
      </ion-button>
    </ion-footer>
  </form>

</ion-content>